* {
    margin:0;
    padding:0
}
body {
    background-color: aquamarine;
    padding: 10px;
}
#header {
height: 160px;
width: 30%;
background-image: url("img/exchange.jpg");
background-repeat: no-repeat;
background-size:cover;
border:1px solid black;
}
marquee {
height: 25px;
width: 30%;
background-color: white;
border:1px solid black;
}

fieldset, #ispis {
    text-align: center;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    background-image: url("img/exchange1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border:1px solid black;
}